# Logs
backend/tasks/logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
backend/venv/
.env

# Database
backend/sql_app.db
sql_app.db

# Scratch and Tests
backend/scratch/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
